Flow 5.json
[{"id":"2aa21a7a.4b0226","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"ca4a5405.bda698","type":"http in","z":"2aa21a7a.4b0226","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["4e847700.fca268","44d87b79.cd0364"]]},{"id":"dc901079.13cc7","type":"http response","z":"2aa21a7a.4b0226","name":"","statusCode":"","headers":{},"x":710,"y":180,"wires":[]},{"id":"722912ca.7492bc","type":"debug","z":"2aa21a7a.4b0226","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":260,"wires":[]},{"id":"4e847700.fca268","type":"function","z":"2aa21a7a.4b0226","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["91d39a08.3711d8"]]},{"id":"91d39a08.3711d8","type":"rpi-gpio out","z":"2aa21a7a.4b0226","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":440,"y":200,"wires":[]},{"id":"591afc16.88b8f4","type":"http in","z":"2aa21a7a.4b0226","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["a449093.71f15f8","a62a6f8a.60e0b"]]},{"id":"a62a6f8a.60e0b","type":"function","z":"2aa21a7a.4b0226","name":"Return status","func":"msg.payload=\"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["dc901079.13cc7","722912ca.7492bc"]]},{"id":"a449093.71f15f8","type":"function","z":"2aa21a7a.4b0226","name":"set to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["91d39a08.3711d8"]]},{"id":"44d87b79.cd0364","type":"function","z":"2aa21a7a.4b0226","name":"Return status","func":"msg.payload=\"GPIO5 to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":20,"wires":[["dc901079.13cc7","722912ca.7492bc"]]}]
