Flow 4.json
[{"id":"e648d72.b473428","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"482d5777.77eeb8","type":"http in","z":"e648d72.b473428","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["db29723c.d02fc"]]},{"id":"f73b1de2.3a4d4","type":"http response","z":"e648d72.b473428","name":"","statusCode":"","headers":{},"x":520,"y":180,"wires":[]},{"id":"c6e23f21.7d7e6","type":"debug","z":"e648d72.b473428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":280,"wires":[]},{"id":"961b39c8.a41c78","type":"rpi-gpio in","z":"e648d72.b473428","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":150,"y":260,"wires":[["cfd56857.0cd518"]]},{"id":"cfd56857.0cd518","type":"function","z":"e648d72.b473428","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["c6e23f21.7d7e6"]]},{"id":"db29723c.d02fc","type":"function","z":"e648d72.b473428","name":"get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["f73b1de2.3a4d4","c6e23f21.7d7e6"]]}]
